*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body {
    background: linear-gradient(135deg, #60b4ec, #766aa3);
}

header{
    background-color: #5d5bc3;
    color: white;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

header h1{
    font-size: 30px;
    margin: 17px 12px ;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 20px 17px ; 
}

.nav ul li a{
    color: #efeaea;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
}

.nav ul li a:hover{
    transition: 0.4s;
    background-color: #a6a9e3;
    padding: 10px;
}

.nav ul li a.active{
    color: rgb(8, 8, 8);
    background-color: #a6a9e3;
    padding: 10px;
}


.contact-section {
    padding: 60px 20px;
    text-align: center;
    max-width: 60%;
    margin: auto;
}

.contact-section h2 {
    font-size: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #ffeb3b;
}

.contact-card {
    margin-bottom: 20px;
    padding: 30px 35px;
    border-radius: 20px;
    color: black;
    background: linear-gradient(135deg, #a3d3f3, #b5aadf);
    box-shadow: 0px 0px 20px black;
    transition: 0.4s ease;
}

.contact-card:hover {
    transform: scale(1.04);
    box-shadow: 0px 0px 35px black;
}

.line {
    font-size: 22px;
    padding: 15px 0;
    text-align: left;
}

.line strong {
    color: rgb(50, 107, 45);
}

footer {
    background-color: #4e4ec2;
    padding: 15px;
    margin-top: 80px;
    text-align: center;
    color: #fff;
}
