*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background: linear-gradient(135deg, #60b4ec, #766aa3);
    
}

header{
    background-color: #5d5bc3;
    color: white;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

header h1{
    font-size: 30px;
    margin: 17px 12px ;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 20px 17px ; 
}

.nav ul li a{
    color: #efeaea;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
}

.nav ul li a:hover{
    transition: 0.4s;
    background-color: #a6a9e3;
    padding: 10px;
}

.nav ul li a.active{
    color: rgb(8, 8, 8);
    background-color: #a6a9e3;
    padding: 10px;
}

.course-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 30px;
}

.section-title{
    font-size: 30px;
    margin: 30px;
    text-align: center;
}

.courses{
    display: grid;
    gap: 27px;
}

.course-card {
    background: linear-gradient(135deg, #a3d3f3, #b5aadf);
    padding: 40px 20px;
    border-radius: 12px;
    box-shadow:  0px 0px 20px black ;
    transition: 0.3s;
}

.course-card:hover {
    transform: translateY(-8px);
}

.course-card h3 {
    font-size: 25px;
    margin-bottom: 10px;
}

.course-description {
    margin-top: 30px;
    font-size: 20px;
}

footer{
    background-color: #4e4ec2;
    padding: 14px;
    margin-top: 10px;
    color: white;
    text-align: center;

}
