*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background: linear-gradient(135deg, #60b4ec, #766aa3);

}

header{
    background-color: #5d5bc3;
    color: white;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

header h1{
    font-size: 30px;
    margin: 17px 12px ;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 20px 17px ; 
}

.nav ul li a{
    color: #efeaea;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
}

.nav ul li a:hover{
    transition: 0.4s;
    background-color: #a6a9e3;
    padding: 10px;
}
    
.nav ul li a.active{
color: rgb(8, 8, 8);
background-color: #a6a9e3;
padding: 10px;
}

.feedback-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}

.section-title {
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
}

.feedback-intro{
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}

.feedback-form {
    background: linear-gradient(135deg, #a3d3f3, #b5aadf);
    padding: 25px;
    border-radius: 12px;
    margin-top: 40px;
    box-shadow: 0px 0px 20px;
}

.form-group {
    margin-bottom: 18px;
}

.form-group input,
.form-group textarea {
    padding: 10px;
    border: 1px solid #777;
    border-radius: 7px;
}

.btn-reset,
.btn-submit  {
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    background: #333;
    color: white;
}

.btn-reset,
.btn-submit:hover {
    background: #556bb5;
}


footer{
    background-color: #4e4ec2;
    padding: 12px;
    margin-top: 213px;
    color: white;
    text-align: center;
}