*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background: linear-gradient(135deg, #60b4ec, #766aa3);
}

header{
    background-color: #5d5bc3;
    color: white;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

header h1{
    font-size: 30px;
    margin: 17px 12px ;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 20px 17px ; 
}

.nav ul li a{
    color: #efeaea;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
}

.nav ul li a:hover{
    background-color: #a6a9e3;
    padding: 10px;
    transition: 0.4s;
}

.nav ul li a.active{
    background-color: #a6a9e3;
    color: rgb(8, 8, 8);
    padding: 10px;
}

.home-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

.img {
    width: 300px;
    border-radius: 100%;
}

.image {
    display: flex;
    justify-content: center;
}

.about-home {
    font-size: 20px;
    text-align: center;
    line-height: 25px;
}

footer {
    background-color: #4e4ec2;
    color: #fff;
    padding: 18px;
    text-align: center;
    margin-top: 130px;
}
