*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background: linear-gradient(135deg, #60b4ec, #766aa3);

}

header{
    background-color: #5d5bc3;
    color: white;
    padding: 12px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

header h1{
    font-size: 30px;
    margin: 17px 12px;
}

.nav ul{
    list-style: none;
    display: flex;
    gap: 40px;
    margin: 20px 17px ; 
}

.nav ul li a{
    color: #efeaea;
    text-decoration: none;
    font-size: 20px;
    border-radius: 10px;
}

.nav ul li a:hover{
    transition: 0.4s;
    background-color: #a6a9e3;
    padding: 10px;
}

.nav ul li a.active{
    color: rgb(8, 8, 8);
    background-color: #a6a9e3;
    padding: 10px;
}

.profile-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px;
}


.profile-section {
    background: linear-gradient(135deg, #a3d3f3, #b5aadf);
    margin-bottom: 40px;
    padding: 20px;
    box-shadow: 0 0 14px black;
    border-radius: 12px;
    transition: 0.4s;
}

.profile-section:hover {
    transform: translateY(-7px);

}


.profile-section h2 {
    font-size: 26px;
    margin-bottom: 15px;
    padding: 10px;
}



.about-text p {
    font-size: 19px;
    line-height: 1.6;
    color: #000000;
}

.details-list {
    font-size: 20px;
    line-height: 1.7;
    padding-left: 20px;
}

footer{
    background-color: #4e4ec2;
    padding: 12px;
    color: white;
    text-align: center;
}